<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid bg-light">
      <div class="row no-gutter">
        <div class="col-md-4"></div>
        <div class="col-md-4 pt-5 text-centers align-items-center main-div">
          <h1 class="pt-5 pb-2">Ciao, non ho ancora un idea per la homepage</h1>
          <button class="btn btn-dark btn-block mb-2" [routerLink]="'/register'">Registrati</button>
          <button class="btn btn-dark btn-block mb-2" [routerLink]="'/login'">Accedi</button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </body>
</html>