<table class="table">
    <thead>
      <tr>
        <th scope="col">Inizio</th>
        <th scope="col">Durata</th>
        <th scope="col">Servizi</th>
        <th scope="col">Note</th>
        <th scope="col">Stato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.start }}</td>
        <td>{{ _differenceInMinutes(reservation.start, reservation.end) + 'm' }}</td>
        <td>{{ joinServices(reservation.services) }}</td>
        <td>{{ reservation.note }}</td>
        <td>
          <i *ngIf="reservation.isApproved === true && reservation.isReject === false" class="fa fa-thumbs-up"></i>
          <i *ngIf="reservation.isApproved === false && reservation.isReject === false" class="fa fa-pause-circle"></i>
          <i *ngIf="reservation.isApproved === false && reservation.isReject === true" class="fa fa-thumbs-down"></i>
        </td>
      </tr>
    </tbody>
</table>