<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 pt-5">
            <button type="button" (click)="view = 'business'" class="btn btn-block btn-primary">Gestione attivita'</button>
            <button type="button" (click)="view = 'services'" class="btn btn-block btn-primary">Gestione servizi</button>
            <button type="button" (click)="view = 'plans'" class="btn btn-block btn-primary">Appuntamenti</button>
        </div>
        <div class="col-md-10">
            <div [ngSwitch]="view">
                <app-admin-business *ngSwitchCase="'business'" ></app-admin-business>
                <app-admin-services *ngSwitchCase="'services'" ></app-admin-services>
                <app-admin-plans *ngSwitchCase="'plans'" ></app-admin-plans>
            </div>
        </div>
    </div>

</div>

