<div class="container">
  <div class="row">
    <div class="col-md-2 pt-2">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-10">

      <div class="row pt-2">
        <div class="col-md-12">

          <div class="card mb-1">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../../assets/img/customer-unsplash.jpg" class="card-img" alt="Happy customer">
              </div>
              <div class="col-md-8 align-self-center">
                <div class="card-body py-2 align-self-center">
                  <div class="form-group input-group">
                    <input type="text" class="form-control" name="name" [(ngModel)]="selected.name" placeholder="Inserisci il nome del servizio che offri">
                    <div class="input-group-append">
                      <button tabindex="-1" (click)="saveService()" type="button" class="btn btn-primary"><i class="fa {{ selected.id === null ? 'fa-save' : 'fa-edit' }}"></i></button>
                      <button tabindex="-1" (click)="deleteService()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                      <button tabindex="-1" (click)="newService()" type="button" class="btn btn-secondary"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="input-group input-group-sm mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Durata (m)</div>
                        </div>
                        <input [(ngModel)]="selected.durationM" min="0" name="price" type="number" class="form-control form-control-sm">
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-group input-group-sm mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Prezzo (€)</div>
                        </div>
                        <input [(ngModel)]="selected.price" min="0" name="price" step=".01" type="number" class="form-control form-control-sm">
                      </div>
                    </div>
                  </div>
                  <textarea rows="3" [(ngModel)]="selected.description"
                    placeholder="Inserisci una breve descrizione per il servizio" name="description" type="text"
                    class="mt-1 form-control"></textarea>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4" *ngFor="let service of services; index as i">
              <div class="card h-100" (click)="selectService(service)" >
                <div class="card-body">
                  <h5 class="card-title">{{ service.name }}</h5>
                  <p class="card-text">{{ service.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Durata:</b> {{ service.durationM }}m, <b>Prezzo:</b> {{ service.price }}€</li>
                </ul>
                <div class="card-footer py-1">
                  <small class="text-muted">{{ service.createdBy && service.createdDate ? 'Creato da: ' + service.createdBy.fullName + ' il ' + (service.createdDate | date:'medium') : 'Creato da ...' }}</small>
                  <br>
                  <small class="text-muted">{{ service.updatedBy && service.updatedDate ? 'Modificato da: ' + service.updatedBy.fullName + ' il ' + (service.updatedDate | date:'medium') : 'Modificato da ...' }}</small>
                </div>
              </div>
            </div>
          </div>

          <br><br><br><br><br>

        </div>
      </div>

    </div>
  </div>
</div>
