<div class="container">
  <div class="row">
    <div class="col-md-2 pt-2">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-10">

      <div class="row pt-2">
        <div class="col-md-12">

          <app-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchReservation()"
            (viewChange)="fetchReservation()"></app-calendar-header>
          <hr>
          <br>

          <div class="alert alert-info">
            Click on a day or time slot on the view.
            <strong *ngIf="clickedDate">You clicked on this time: {{ clickedDate | date:'medium' }}</strong>
            <strong *ngIf="clickedColumn != null">You clicked on this column: {{ clickedColumn }}</strong>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">
              <div *ngIf="isLoading === false && this.events !== []; else loading">
                <div [ngSwitch]="view">

                  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                  </mwl-calendar-month-view>

                  <mwl-calendar-week-view *ngSwitchCase="'week'" [events]="events" [viewDate]="viewDate"
                    [weekStartsOn]="weekStartsOn" (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="handleHourClick($event.date)"
                    (beforeViewRender)="beforeWeekViewRender($event)"
                    [hourSegmentTemplate]="weekViewHourSegmentTemplate"
                    [currentTimeMarkerTemplate]="currentTimeMarkerTemplate" [dayStartHour]="dayStartHour"
                    [dayEndHour]="dayEndHour" [hourSegments]="4">
                  </mwl-calendar-week-view>

                  <mwl-calendar-day-view *ngSwitchCase="'day'" [events]="events" [viewDate]="viewDate"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="handleHourClick($event.date)"
                    (beforeViewRender)="beforeDayViewRender($event)" [hourSegmentTemplate]="weekViewHourSegmentTemplate"
                    [currentTimeMarkerTemplate]="currentTimeMarkerTemplate" [dayStartHour]="dayStartHour"
                    [dayEndHour]="dayEndHour" [hourSegments]="4">
                  </mwl-calendar-day-view>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #currentTimeMarkerTemplate let-dayStartHour="dayStartHour" let-dayEndHour="dayEndHour"></ng-template>

<ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale"
  let-segmentHeight="segmentHeight" let-isTimeLabel="isTimeLabel">
  <div #segmentElement class="cal-hour-segment" [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart" [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass">
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'weekViewHour':locale }}
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
    Caricamento in corso...
  </div>
</ng-template>
